[submodule "components/ESP32-RevK"]
	path = ESP/components/ESP32-RevK
	url = https://github.com/revk/ESP32-RevK
[submodule "ftdizap"]
	path = ESP/ftdizap
	url = https://github.com/revk/ftdizap
[submodule "SQLlib"]
	path = SQLlib
	url = https://github.com/revk/SQLlib
[submodule "AJL"]
	path = Tools/AJL
	url = https://github.com/revk/AJL
[submodule "AXL"]
	path = Tools/AXL
	url = https://github.com/revk/AXL
